<label for="gist_file_name">Filename:</label>
<input id="gist_file_name" name="gist[gistFiles][<%= count %>][name]">

<label for="gist_file_body">Content:</label>
<textarea name="gist[gistFiles][<%= count %>][body]" id="gist_file_body"></textarea>

<p></p>