<h1><%= title %></h1>

<form>
	<label for="gist_title">Title</label>
	<input id="gist_title" name="gist[title]">
	<br>

	<button class="add_file">Add File</button>

	<input type="submit" value="<%= title %>">
	<p></p>
</form>